html
    head
        title About Tomas Rakusan
        link(rel='stylesheet' href='css/normalize.css')
        link(rel='stylesheet' href='css/main.css')
    body
        header
            h1 Tomas Rakusan
        main
            .skills
                #input(autofocus contenteditable placeholder="Please Search though my skils" tabIndex=1)
                #sbody
                    each val in skills
                        div(tabindex="1")
                            if val.name
                                .name(data-type="name")=val.name
                            if val.description
                                .desc(data-type="description")=val.description
                            if val.date
                                .date(data-type="date")=val.date
                    else
                        div Sorry something went wrong in loading my skills
        if autoReloadS
            script!=autoReloadS
        script(src="js/main.js")