html
    head
        title About Tomas Rakusan
        link(rel='stylesheet' href='css/normalize.css')
        link(rel='stylesheet' href='css/main.css')
    body
        header
            h1 Tomas Rakusan
        main
            .skills
                #input(autofocus contenteditable placeholder="Please Search though my skils" tabIndex=1)
                #sbody
                    div.error Please wait my skills are loading
        if autoReloadS
            script!=autoReloadS
        script(src="js/main.js")