$headborderR:5px;
$headColor: #999;
body{
    margin:0;
}
header{
    background-color: $headColor;
    border-radius: 5px;
    text-align: center;
    border-bottom-left-radius: $headborderR;
    border-bottom-right-radius: $headborderR;
    padding:2px;
    h1{
        margin:0;
    }
}
main{
    width:80%;
    margin:10px auto 0;
    border:1px solid #CCC;
}
.skills{
    #input{
        border-top-left-radius: $headborderR;
        border-top-right-radius: $headborderR;
    }
    div[contenteditable][placeholder]:empty::before{
        content:attr(placeholder);
        color:grey;
    }
    #input, #sbody > div{
        overflow: hidden;
        box-sizing: border-box;
        position:relative;
        width:60%;
        border:1px solid grey;
        margin:0 auto;
        padding:4px 10px;
        transition: padding 0.4s linear,height 0.4s linear, transform 0.4s linear;
    }
    #sbody > div:last-child{
        border-bottom-left-radius: $headborderR;
        border-bottom-right-radius: $headborderR;
    }
    #sbody > div.hide{
        //transform:scaleY(0);
        height: 2px;
        padding:0 10px;
        //border-width: 0;
    }
	#sbody > div .desc{
		margin-left:8px;
		height:0px;
		overflow:hidden;
        //transition: height 1s ease;
	}
	#sbody > div:focus .desc{
		height:100%;
	}
}
@keyframes moveout{
    0% {transform:translate(0)}
    50% {transform:translate(100%,0);padding:4px 10px}
    98% {padding:0}
    100%{border:0}
}